.contactUs {
    width: 83%;
    text-align: center;
    background: #705e37;
    padding: 20px;
    border-radius: 5px;
    margin: 120px auto;
    box-shadow: 0 0 9px rgba(0,0,0,0.55);
    display: flex;
    flex-direction: column;

}
.contactUs h2{
    margin-bottom: 20px;
}
.contact-form{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
.contact-form a{
    text-decoration: none;
    color: black;
    width: 25px;
    height: 25px;
}
.contact-form a i{
    font-size: 25px;
}

.contact-form a:last-child{
    color: #50a5c1;
}
